<head xmlns="http://www.w3.org/1999/html">
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel ="stylesheet" href="init.css">
    <link rel ="stylesheet" href="index.css">
</head>

<body>
<div id="app">

    <div class = "title-head">
       <span>EASYSWOOLE CHATROOMS </span> <a href="https://github.com/yemaozi999/easyswoole-chat-rooms">github链接</a>
    </div>

    <div class="top_button">
        <el-row>
            <el-button round  @click="say('createRoom')">创建房间</el-button>
            <el-button type="primary" round @click="say('reconnect')">断线重连</el-button>
            <el-button type="success" round @click="say('close')">关闭连接</el-button>
        </el-row>
    </div>
    <div class="all_room">
        <ul>

            <li v-for="(item, index) in rooms">
                <el-button plain @click="goInRoom(item)">进入房间{{item}}</el-button>
            </li>

        </ul>
    </div>

    <div v-for="(item, index) in room_fd">


        <div class="rooms">

            <el-container>
                <el-aside width="200px">
                    <div class = "left-menu">
                        <div class="left-menu-head">

                            <div class="lmh-img"><img src="img.jpg"></div><div class="lmh-desc"><p>{{my_info.name}}</p> <el-button type="info" size="mini" round @click="outRoom(index)">退出房间</el-button></div>

                        </div>
                        <div class = "left-menu-title">
                            <p>车上乘客</p>
                        </div>
                        <div class = "lmt-list">
                        <ul>
                            <li v-for="users in item.users">
                                <div><img src="img.jpg"><p>{{users.name}}</p></div>
                            </li>
                        </ul>
                        </div>
                    </div>
                </el-aside>

                <div class = "room-right">
                    <div class="room-right-head">
                        房间{{index}}
                    </div>

                    <div class="room-right-middle">

                        <template v-for="contents in item.contents">
                            <div v-if="contents.type==1" class="msg-right">
                                <img src="img.jpg">
                                <div class="msg-content">
                                <p>{{contents.name}}</p>
                                <h5>{{contents.msg}}</h5>
                                </div>
                            </div>

                            <div v-if="contents.type==2" class="msg-left">
                                <img src="img.jpg">
                                <div class="msg-content">
                                    <p>{{contents.name}}</p>
                                    <h5>{{contents.msg}}</h5>
                                </div>
                            </div>

                            <div v-if="contents.type==3" class="sys-msg">
                                <span>{{contents.msg}}</span>
                            </div>
                        </template>

                    </div>

                    <div class="room-right-bottom">
                           <el-input style="width: 80%;" v-model="item.input" ></el-input><el-button type="primary" style="width: 20%;" @click="say('sendRoom',index)" >发送</el-button>
                    </div>


                </div>


            </el-container>

        </div>

    </div>





</div>
</body>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    var wsServer = 'ws://你自己的服务器ip:9501';
    var websocket = new WebSocket(wsServer);
    var intval;
    var app = new Vue({
        el: '#app',
        data: function() {
            return {
                rooms: [],
                my_info:{
                    name:'游客',fd:1
                },
                room_fd: {
                }
            }
        },
        created:function(){
            this.wsInit(websocket)
        },
        methods: {
            wsInit(websocket) {

                websocket.onopen = function (evt) {
                    console.log("Connected to WebSocket server.");

                    intval = window.setInterval(app.heartbreak, 10000);

                    //开启成功群发消息
                    app.rooms = [];

                    websocket.send(JSON.stringify({
                        action: 'sendAllIn',
                        content: {value: "有人进入了"}
                    }));

                    websocket.send(JSON.stringify({
                        action: "getMyRooms",
                        content: {value: ""}
                    }));

                    websocket.send(JSON.stringify({
                        action: "who",
                        content: {value: ""}
                    }));
                    websocket.send(JSON.stringify({
                        action: "getAllRooms",
                        content: {value: ""}
                    }));

                };
                websocket.onclose = function (evt) {
                    console.log("Disconnected");
                    clearInterval(intval);
                    websocket.close();
                };
                websocket.onmessage = function (evt) {
                    if (evt.data != '') {
                        //console.log('Retrieved data from server: ' + evt.data);

                        var json = JSON.parse(evt.data);
                        //console.log(json);

                        if (json.op_type == 1) {
                            let jsonLength = app.objCounts(json.data.res);
                            var lastIndex = "";
                            for (var idx in json.data.res) {
                                lastIndex = idx;
                            }
                            var lastRoom = json.data.res[lastIndex];
                            app.rooms.push(lastRoom.id);
                        }

                        if (json.op_type == 2) {
                            //新增左侧列表用户
                            app.room_fd[json.data.room].users.push({fd: json.data.fd, name: json.data.res.name})
                            //房间系统消息
                            app.room_fd[json.data.room].contents.push({fd: 0, name: "", msg: json.data.msg, type: 3})
                        }

                        if (json.op_type == 3) {
                            console.log(app.room_fd[json.data.room].users);
                            //删除房间左侧列表的用户
                            app.room_fd[json.data.room].users.forEach(function (val, key) {
                                if (val.fd == json.data.fd) {
                                    app.room_fd[json.data.room].users.splice(key, 1);
                                }
                            })
                            //房间系统消息
                            app.room_fd[json.data.room].contents.push({fd: 0, name: "", msg: json.data.msg, type: 3})
                        }
                        //const { op_type, data } = json
                        if (json.op_type == 7) {
                            app.my_info.name = json.data.res.talk_user_fd_name;
                            app.my_info.fd = json.data.res.talk_users_fd_id;
                        }
                        if (json.op_type == 4) {
                            console.log(json)
                            let msg_type = 2;
                            if (json.data.fd == app.my_info.fd) {
                                msg_type = 1
                            }
                            app.room_fd[json.data.room].contents.push({
                                fd: json.data.fd,
                                name: json.data.fd_name,
                                msg: json.data.msg,
                                type: msg_type
                            })
                        }
                        if (json.op_type == 8) {
                            let room = json.data.room
                            let room_users = json.data.res

                            room_users.map(function (item) {
                                app.room_fd[room].users.push({
                                    fd: item.talk_users_fd_id,
                                    name: item.talk_user_fd_name
                                })
                            })

                        }
                        if (json.op_type == 9) {
                            let rooms = json.data.res
                            rooms.map(function (item) {
                                app.rooms.push(item.id)
                            })
                        }
                    }
                };
                websocket.onerror = function (evt, e) {
                    console.log('Error occured: ' + evt.data);
                };

            },
            say(action, content = '') {

                console.log(action);
                console.log(content);


                if (action == "close") {
                    app.close();
                } else if (action == "reconnect") {
                    app.reconnect();
                } else if (action == "sendRoom") {
                    let room = content
                    let msg = app.room_fd[room].input

                    console.log(action)
                    console.log(msg)

                    websocket.send(JSON.stringify({
                        action: action,
                        content: {room: room, msg: msg}
                    }));

                    app.room_fd[room].input = ""

                }
                else {
                    websocket.send(JSON.stringify({
                        action: action,
                        content: {value: content}
                    }));
                }
            },
            heartbreak() {
                var content = "";
                var action = "who";
                websocket.send("");
            },
            close() {
                clearInterval(intval);
                websocket.close();
            },
            reconnect() {
                websocket = new WebSocket(wsServer);
                app.wsInit(websocket);
            },
            objCounts(o) {
                var t = typeof o;
                if (t == 'string') {
                    return o.length;
                } else if (t == 'object') {
                    var n = 0;
                    for (var i in o) {
                        n++;
                    }
                    return n;
                }
                return false
            },
            outRoom(index) {

                app.say('outRoom', index)
                Vue.delete(this.room_fd, index)

            },
            goInRoom(index) {

                Vue.set(app.room_fd, index, {'users': [], 'contents': [], 'input': ''})

                app.say('goInRoom', index)
                //Vue.delete(this.room_fd,index)

                app.say("getRoomUsers", index)


            }
        },
        watch:{room_fd:function(){
                console.log(1111);
         }}
    })
</script>
</html>